:root{
    --text: #091906;
    --background: #e6f8e2;
    --primary: #8698e4;
    --secondary: #bfeeb4;
    --accent: #22c957;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    font-family: "Helvetica", sans-serif;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
    height: 100vh;
}

.navbar {
    background-color: var(--secondary);
    color: var(--text);
    flex: 1;
    padding: 6px;
    border-radius: 12px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 6px;
}

.navbar li{
    padding:0 10px;
}

.accordion {
    background-color: var(--accent);
    color: var(--text);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 12px;
    text-align: left;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: --var(primary)
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.preview {
    flex: 3;
    height: 100%;
    display: grid;
    place-content: center;
    background-color: red;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:visited {
    color: blue;
}
