:root {
    --background-rgb: 2 6 23;
    --background-light-rgb: 30 41 59;

    --border-rgb: 255 255 255;
    --border: 1px solid rgb(var(--border-rgb) / 20%);

    --hyperplexed-main-rgb: 41 121 255;
    --hyperplexed-main-light-rgb: 56 182 255;
    --hyperplexed-secondary-rgb: 42 252 152;

    --card-size: 480px;
    --font-size: 1rem;
    --logo-size: calc(var(--card-size) * 0.3);
}

body {
    background: rgb(var(--background-rgb));
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card-track {
    height: 100%;
    width: var(--card-size);
    display: flex;
    align-items: center;
    position: relative;
}

.card-wrapper {
    width: 100%;
    position: relative;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 480px;
    aspect-ratio: 1;
    position: relative;
    margin: 1rem;
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;
    background-color: #8698e4;
}

.card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 4;
}

.card-image > img {
    width: var(--logo-size);
}

.card-gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    background: radial-gradient(
            rgb(var(--background-light-rgb)) 40%,
            rgb(var(--hyperplexed-main-rgb)) 50%,
            rgb(var(--hyperplexed-main-light-rgb)),
            rgb(var(--hyperplexed-secondary-rgb))
    );
    mix-blend-mode: darken;
    pointer-events: none;
    z-index: 3;
}

.card-letters {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 490px;
    width: 490px;
    color: white;
    font-size: var(--font-size);
    font-weight: 500;
    word-wrap: break-word;
    transition: opacity 400ms;
    scale: 1.03;
    z-index: 20;
}

a {
    z-index: -1;
}

.button {
    width: 60px;
    height: 60px;
}

@media(max-width: 600px) {
    :root {
        --card-size: 340px;
    }

    .card {
        border-radius: 1rem;
    }
}
