
html {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

body {
    padding: 20px;
    background-color: lightcyan;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

p {

}

#titre_general {
    font-size: 120%;
    padding: 10px;
    text-align: center;
    background-color: white;
    color: blue;
    border: 2px solid blue;
}

h1,h2,h3 {
    font-style: italic;
}

h1 {
    font-size: 170%;
}

h2 {
    color: blue;
    font-size: 140%;
}

h3 {
    font-size: 110%;
    margin-left: 20px;
}

img, .legende {
    width: 55%;
    box-sizing: border-box;
    background-color: white;
    display: block;
    align-content: end;
}

.legende {
    font-size: 90%;
    padding: 8px;
    align-self: end;
}

.img_dans_txt {
    width: 10%;
    margin-right: 10px;
    border: 2px;
    display: inline;
}

a {
    color: brown;
}

li {
    padding-bottom: 5px;
}

.note {
    color: dimgray;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.latin {
    font-family: "Courier New", Courier, monospace;
}

.sources {

}

